.wrapper{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.wrapper__block{
    position: relative;
    width: calc(50% - 10px);
    box-sizing: border-box;
    box-shadow: #566573 0 0 2px;
    overflow: hidden;
    transition: all 0.5s ease-out;
}
.wrapper__block_no-transition{
    transition: none;
}
.wrapper__separator{
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper__slider{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    width: 3px;
    cursor:ew-resize;
    background-color: gray;
}

.wrapper__block_hide{
    width: 50px !important;
}
.wrapper__block_hide>*:nth-child(2){
    opacity: 0;
}