.list-table{
    height: 100%;
}
.list-table__header{
    display: block;
    height: 50px;
    border-bottom: 1px solid gray;
}
.list-table__content{
    height: calc(100% - 50px);
    overflow-y: auto;
}
.list-table__content table{
    width: 100%;
    border-spacing:0;
}
.list-table__content table th,
.list-table__content table td{
    padding: 10px 10px;
    border-bottom: 1px solid gray;
}
.list-table__content table th{
    text-align: left;
    font-weight: 300;
    color: gray;
}
.list-table__content table tr{
    border-bottom: 1px solid gray;
}
.list-table__content table tbody tr:hover{
    background-color: silver;
    cursor: pointer;
}
.tab-bar{
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}
.tab-bar__item{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.tab-bar__item.tab-bar__item_active{
    border-bottom: 2px solid #2E86C1;
    color: #2E86C1;
}
