.person-table{
    border:1px solid #2E86C1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease-out;
}
.person-table__header{
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #2E86C1;
    box-sizing: border-box;
    padding: 10px;
}
.person-table__title{
    color: #fff;
    font-weight: 300;
    margin: 0;
    opacity: 1;
    transition: all 0.5s ease-out;
}

.person-table__content{
    box-sizing: border-box;
    padding: 10px;
}

.person__data-item{
    margin: 10px 0;
}
.person__data-item span{
    display: inline-block;
    min-width: 200px;
    border-bottom: 1px solid gray;
    margin-left: 20px;
}