@font-face {
    font-family: 'PF DinText Pro';
    src: url('PFDinTextPro-Regular.eot');
    src: url('PFDinTextPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextPro-Regular.woff2') format('woff2'),
        url('PFDinTextPro-Regular.woff') format('woff'),
        url('PFDinTextPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Pro';
    src: url('PFDinTextPro-Light.eot');
    src: url('PFDinTextPro-Light.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextPro-Light.woff2') format('woff2'),
        url('PFDinTextPro-Light.woff') format('woff'),
        url('PFDinTextPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Pro';
    src: url('PFDinTextPro-Medium.eot');
    src: url('PFDinTextPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextPro-Medium.woff2') format('woff2'),
        url('PFDinTextPro-Medium.woff') format('woff'),
        url('PFDinTextPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

